# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import vaex
import pandas as pd

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

This project is about modelling and preparing data about immigration to US. The model will facilitate analytics around this data to figure out where the immigrants come frome why. Also which are the most used airports for immigration. 

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included? 

The following are the datasets used in this project:
 - I94 Immigration Data: This data comes from the US National Tourism and Trade Office. We will use data for year 2016. The files are divided into 12 file (file per month). 
 - World Temperature Data: This dataset is about the average temprature per city per country.
 - U.S. City Demographic Data: This dataset contains information about the demographics of all US cities and census-designated places with a population greater or equal to 65,000.
 - Airport Code Table: This is a lookup for the airports around the world and itsrelated informaiton (name,codelocation,coordinates,... etc).
 - Country GDP annual growth: This dataset countains the GDP per country since1960 till 2020.

In [29]:
#df1=pd.read_csv("./covid/covid-19-data-master/public/data/ecdc/full_data.csv")
#df1=pd.read_csv("./covid/covid-19-data-master/public/data/jhu/full_data.csv")
#df1=pd.read_csv("./covid/covid-19-data-master/public/data/testing/covid-testing-latest-data-source-details.csv")
#df1=pd.read_csv("./covid/covid-19-data-master/public/data/vaccinations/vaccinations.csv")
#df1=pd.read_csv("./covid/covid-19-data-master/public/data/vaccinations/vaccinations-by-age-group.csv")
#df1=pd.read_csv("./covid/covid-19-data-master/public/data/vaccinations/vaccinations-by-manufacturer.csv")
#df1=pd.read_csv("./covid/covid-19-data-master/public/data/variants/covid-variants.csv")
#df2=pd.read_csv("./covid/COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/01-05-2021.csv") -- more than 2 million
#df3=pd.read_csv("./covid/covid19-public-health-social-measures/phsm-severity-data-new.csv")
#df4=pd.read_csv("./covid/oxford-covid19-government-response-tracker/OxCGRT_latest_combined.csv")
####################imagration###############3
#fname = './immigration/data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
#df = pd.read_sas(fname, 'sas7bdat', encoding="ISO-8859-1")

#df=pd.read_csv("./immigration/airport-codes_csv.csv")
#df=pd.read_csv("./immigration/data2/GlobalLandTemperaturesByCity.csv")
#df=pd.read_csv("./immigration/us-cities-demographics.csv",sep=";")
df=pd.read_csv("./immigration/GDP_annual_growth.csv")

In [30]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.534637e+09,2.701676e+09,2.765363e+09,2.919553e+09,2.965922e+09,3.056425e+09,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.000160e+10,2.056107e+10,2.048489e+10,1.990711e+10,1.801775e+10,1.886995e+10,1.835388e+10,1.929110e+10,NaN,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.013532e+11,8.881570e+10,NaN,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.231983e+10,1.277622e+10,1.322814e+10,1.138685e+10,1.186120e+10,1.301969e+10,1.514702e+10,1.527918e+10,NaN,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.154058e+09,NaN,NaN

In [31]:
import pandas_profiling
#pandas_profiling.ProfileReport(df5)
#profile = df.profile_report(title="Weather data profiling report", pool_size=1)
profile = df.profile_report(
    missing_diagrams={
        "heatmap": False,
        "dendrogram": False,
        #"bar": False,
        "matrix": False
    }
)
#profile.config.html.minify_html = False
profile.to_file("GDP_Growth.html")

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=79.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [16]:
del df

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.\
config("spark.jars.repositories", "https://repos.spark-packages.org/").\
config("spark.jars.packages", "saurfang:spark-sas7bdat:2.0.0-s_2.11").\
enableHiveSupport().getOrCreate()

df_spark = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [ ]:
#write to parquet
df_spark.write.parquet("sas_data")
df_spark=spark.read.parquet("sas_data")

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.
Please refer to the profiling reports (refer to html files)

#### Cleaning Steps
Document steps necessary to clean the data

In [ ]:
# Performing cleaning tasks here

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.